In [14]:
import pandas as pd
from pandas import DataFrame
import json

In [117]:
df = pd.read_json("filename.json", orient='columns', typ='frame', convert_axes=True)
df = pd.DataFrame(df)

In [119]:
print(df, sep=' ')

                                           12 Strong  \
0  {'Genre': 'Action', 'Gross': '$1,465,000', 'IM...

                                           A Ciambra  \
0  {'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...

                          All The Money In The World  \
0  {'popcornscore': 72, 'rating': 'R', 'tomatosco...

                 Along With The Gods: The Two Worlds  \
0  {'popcornscore': 90, 'rating': 'NR', 'tomatosc...

                          Bilal: A New Breed Of Hero  \
0  {'Genre': 'Animation', 'Gross': 'unknown', 'IM...

                                Call Me By Your Name  \
0  {'popcornscore': 87, 'rating': 'R', 'tomatosco...

                              Condorito: La Película  \
0  {'popcornscore': 59, 'rating': 'PG', 'tomatosc...

                                        Darkest Hour  \
0  {'popcornscore': 84, 'rating': 'PG13', 'tomato...

                                      Den Of Thieves  \
0  {'Genre': 'Action', 'Gross': '$1,430,000', 'IM...

                                          Downsizing  \
0  {'popcornscore': 24, 'rating': 'R', 'tomatosco...

                         ...                          \
0                        ...

                            Star Wars: The Last Jedi  \
0  {'popcornscore': 48, 'rating': 'PG13', 'tomato...

                                    The Cage Fighter  \
0  {'Genre': 'Documentary', 'Gross': 'unknown', '...

                                        The Commuter  \
0  {'Genre': 'Action', 'Gross': '$530,000', 'IMDB...

                                      The Final Year  \
0  {'popcornscore': 48, 'rating': 'NR', 'tomatosc...

                                The Greatest Showman  \
0  {'Genre': 'Biography', 'Gross': '$2,275,000', ...

                              The Insult (L'Insulte)  \
0  {'popcornscore': 90, 'rating': 'R', 'tomatosco...

                                            The Post  \
0  {'Genre': 'Biography', 'Gross': '$1,570,000', ...

                                  The Shape Of Water  \
0  {'popcornscore': 79, 'rating': 'R', 'tomatosco...

                                Una Mujer Fantástica  \
0  {'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...

                                          Winchester
0  {'Genre': 'Biography', 'Gross': '$3,606,000', ...

[1 rows x 38 columns]

In [116]:
df

,12 Strong,A Ciambra,All The Money In The World,Along With The Gods: The Two Worlds,Bilal: A New Breed Of Hero,Call Me By Your Name,Condorito: La Película,Darkest Hour,Den Of Thieves,Downsizing,...,Star Wars: The Last Jedi,The Cage Fighter,The Commuter,The Final Year,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,Una Mujer Fantástica,Winchester
0,"{'Genre': 'Action', 'Gross': '$1,465,000', 'IM...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 72, 'rating': 'R', 'tomatosco...","{'popcornscore': 90, 'rating': 'NR', 'tomatosc...","{'Genre': 'Animation', 'Gross': 'unknown', 'IM...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 59, 'rating': 'PG', 'tomatosc...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$1,430,000', 'IM...","{'popcornscore': 24, 'rating': 'R', 'tomatosco...",...,"{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'Genre': 'Documentary', 'Gross': 'unknown', '...","{'Genre': 'Action', 'Gross': '$530,000', 'IMDB...","{'popcornscore': 48, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$2,275,000', ...","{'popcornscore': 90, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$1,570,000', ...","{'popcornscore': 79, 'rating': 'R', 'tomatosco...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'Genre': 'Biography', 'Gross': '$3,606,000', ..."